.one .two{
    font-size:  16px;
}

.one{

}
.two{

}
:root {
    
}
.header{

}


.page {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: #434455;
}
ul { list-style: none; }

.site-header {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    /* position: absolute; */
    width: 1440px;
    height: 72px;
    left: 0px;
    top: 0px;
}
.logo {
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 44px;
    height: 24px;
    margin-top: 24px;
    margin-right: 148px;
    margin-bottom: 24px;
    margin-left: 156px;
}
.logo-studio {
    color: #2E2F42;
}
.nav-tab {
    color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 24px; 
}
.order {
    background: #2E2F42;
    /* position: absolute;
    width: 1440px;
    height: 603px;
    left: 0px;
    top: 72px;  */
    
}
.order-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    width: 492px;
    height: 120px;
    left: 474px;
    top: 264px; 
    margin-top: 192px;
    margin-right: 474px;
    margin-bottom: 291px;
    margin-left: 474px; */
}
.order-button {
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
position: absolute;
width: 170px;
height: 51px;
left: 635px;
top: 432px; 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
color: #FFFFFF;
font-weight: 600;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.04em; 

}
.qualities-title {
    color: #2E2F42;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.qualities-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.02em;
}
.title-two {
    color: #2E2F42;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center; 
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.name {
    color: #2E2F42;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}
.position {
    color:#434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    }
.footer-logo {
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 100px;
    margin-right: 1240px;
    margin-bottom: 188px;
    margin-left: 156px;
}
.footer-logo-studio {
    color: #F4F4FD;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer {
    background: #2E2F42;
    position: absolute;
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 2283px;
    margin-top: 2521px;
}
.footer-description {
    color: #E7E9FC;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    position: absolute; 
    width: 264px;
    height: 72px;
/* left: 156px;
top: 2421px; */
margin-top: 16px;
margin-right: 1020px;
margin-bottom: 100px;
margin-left: 156px; 
}

/* portfolio styles  */

.filter-button {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
}
.portfolio-img {
    /* position: absolute; */
    width: 360px;
    height: 300px;
    left: 0px;
    top: 0px;
}
.portfolio-title {
    color: #2E2F42;
    font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
}
.portfolio-filter {
    color: #434455;
    font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
}
/* text #2E2F42 */
/* zagolovky #2E2F42 */
/* text footer #E7E9FC */
/* logo studio #F4F4FD */
/* logo web #4D5AE5 */
/* button order #FFFFFF */