:root {
--primColor1: #434455;
--primColor2: #2E2F42;
--primColor3: #FFFFFF;
--primColor4: #4D5AE5;
--primColor5: #F4F4FD;
--primColor6: #E7E9FC;
}
.page {
    font-family: 'Roboto', sans-serif;
    background: var(--primColor3);
    color: var(--primColor1);
}
ul { list-style: none; }
.site-header {
    background: var(--primColor3);
}
.logo {
    color: var(--primColor4);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-studio {
    color: var(--primColor2);
    text-decoration: none;
}
.nav-tab {
    color: var(--primColor2);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.nav-tab:hover,
.nav-tab:focus {
    color: var(--primColor4);
}
.contact-way {
    color: var(--primColor1);
    text-decoration: none;
    font-weight: 400;

}
.contact-way:hover,
.contact-way:focus {
    color: var(--primColor4);
}
.order {
    background: var(--primColor2);
}
.order-title {
    color: var(--primColor3);
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
}
.order-button { 
    background: var(--primColor4);
    color: var(--primColor3);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em; 
    cursor: pointer;
}
.qualities-title {
    color: var(--primColor2);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.qualities-description {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    font-weight: 400;
}
.title-two {
    color: var(--primColor2);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team {
    background: var(--primColor5);
}
.title-team {
    color: var(--primColor2);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.member {
    background: var(--primColor3);
}
.name {
    color: var(--primColor2);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.position {
    color:var(--primColor1);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 400;
    }
.footer-logo {
    font-family: 'Raleway';
    color: var(--primColor4);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo-studio {
    color: var(--primColor5);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.footer {
    background: var(--primColor2);
}
.footer-description {
    color: var(--primColor6);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}

/* portfolio styles  */

.filter-button {
    color: var(--primColor4);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.filter-button:hover {
    background-color: var(--primColor4);
    color: var(--primColor3);
}
.portfolio-item {
    color: var(--primColor5);
}
.portfolio-title {
    color: var(--primColor2);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-filter {
    color: var(--primColor1);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
